@font-face {
  font-family: "MarkPro";
  src: url("../assets/fonts/MarkProHairline.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "MarkPro";
  src: url("../assets/fonts/MarkPro.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "MarkPro";
  src: url("../assets/fonts/MarkProMedium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "MarkPro";
  src: url("../assets/fonts/MarkProBold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "MarkPro";
  src: url("../assets/fonts/MarkProBlack.otf") format("opentype");
  font-weight: 1000;
}
