.pass {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin: 1em;

  &__each {
    width: 43%;
    height: 20em;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    border-radius: 1em;
    position: relative;
    margin: 1em;
  }
  & a {
    text-emphasis: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-decoration: none;
  }
  &__info {
    background-color: $green;
    color: white;
    border-radius: 1em;
    height: 4em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 2em;
    font-size: 0.8em;
    font-weight: 700;

    &--rides,
    &--amount {
      margin: 0;
    }
  }

  &__name {
    color: white;
    padding: 0 1em;
    margin-bottom: 0.5em;
    position: absolute;
    bottom: 2em;
    text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.75);
  }
}
